* {
	box-sizing: border-box;
	text-align: center;
	margin: auto;
	}
#content{
	height: 1000px;
	width: 1000px;
	}
.khoi1 {
	line-height: 50%;
		}
.khoi11,.khoi12,.khoi13,.khoi14{
	width: 25%;
	float: left;
	}
.khoi2 {
	line-height: 50%;
	}
.khoi21,.khoi22,.khoi23,.khoi24{
	width: 25%;
	float: left;
	}